.ecom-order-total{
    position: absolute;
    padding-left: 10px;
}
.ecom-icon-total{
    color: rgb(253, 0, 84);
}
.ecom-order-right{
    right: 0;
}
.ecom-icon-size{
    font-size: 20px;
}
.ecom-black-font{
    color: #000;
}
.ecom-lh{
line-height: 1.5;
}
.ecom-order-padding-bottom{
    padding-bottom: 10px;
    margin-bottom: 20px;
}