<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="home">
      <ion-label>Home</ion-label>
      <ion-icon color="success" name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-label>Category</ion-label>
      <ion-icon color="secondary" name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-label>Search</ion-label>
      <ion-icon color="danger" name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-label>Cart</ion-label>
      <ion-icon color="secondary" name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-label>Account</ion-label>
      <ion-icon color="success" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>