
ion-card{
    padding:0 !important;
    margin:0 !important;
}
.ecom-buttons{
 width: 100%;
    ion-button{
        width: 48% !important;
    }
}

.ecom-pro-name{
    color: #2b2727;
}
.mr-15{
    margin-right:10px;
}
.ecom-toggler-tab{
    padding: 10px;
    transition: 2s !important;
}
.ecom-toggler-invisible{
    padding: 10px;
    transition: 2s !important;
    display: none;
}
.ecom-toggler-visible{
    height: 0%;
    padding: 10px;
    border: 1px solid red;
    transition: 2s !important;
    display: block !important;
}
